body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

#main-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 80vw;
   border-radius: 75px/50px;
   box-shadow: 2px 2px 15px black;
   padding: 30px;
}

h1 {
   margin: 0;
   width: 100%;
   text-align: center;
   text-decoration: underline;
   margin-bottom: 1%;
}

section {
   height: auto;
   min-height: 250px;
   width: 47%;
   border: 1px solid black;
   margin: 1%;
}