* {
   font-size: 20px;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

#main-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 80vw;
   border-radius: 75px/50px;
   box-shadow: 2px 2px 15px black;
   padding: 30px;
}

h1 {
   margin: 0;
   width: 100%;
   text-align: center;
   text-decoration: underline;
   margin-bottom: 1%;
   font-size: 36px;
}

section {
   height: auto;
   min-height: 250px;
   max-height: 350px;
   width: 47%;
   border: 1px solid black;
   margin: 1%;
}

#todo-input {
   display: flex;
   flex-direction: column;
}

#todo-input-name {
   height: 15%;
}

#todo-input-description {
   flex-grow: 1;
}

#add-todo {
   height: 15%;
   color: black;
   font-size: 24px;
   font-weight: 600;
   background-color: green;
}

#todo-list {
   overflow: auto;
}

li input:first-of-type {
   margin-top: 30px;
}

li input {
   margin: 5px 40% 5px 0;
}

h2 {
   font-size: 24px;
}

.done-btn {
   border: 1px solid black;
   border-radius: 5px;
   color: black;
   background-color: white;
}

.edit-btn {
   border: 1px solid black;
   border-radius: 5px;
   color: black;
   background-color: white;
}

.x-btn {
   border: 1px solid black;
   border-radius: 5px;
   background-color: red;
}